@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightgreen: #98AA9D;
  --beige: #E5E0D8;
  --darkblue: #363D40;
  --darkbeige: #A89F91;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightgreen: var(--lightgreen);
  --color-beige: var(--beige);
  --color-darkblue: var(--darkblue);
  --color-darkbeige: var(--darkbeige);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Faustina', serif;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE / Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome / Safari */
}
.fade-word {
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
}

.fade-delay-1 {
  animation-delay: 0.5s;
}

.fade-delay-2 {
  animation-delay: 1.4s;
}

.fade-delay-3 {
  animation-delay: 2.3s;
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
